cd backend
if [ -d .venv ]; then
  source .venv/bin/activate
  uv sync
else
  uv venv --python 3.13
  source .venv/bin/activate
fi
cd ..
echo Setting git hooksPath to .githooks
chmod +x .githooks/pre-push
git config core.hooksPath .githooks
export OLLAMA_BASE_URL="http://localhost:11434/v1"
